# API
fastapi
uvicorn
python-multipart
python-dotenv
pydantic[email]
pydantic-settings

# Base de données
SQLAlchemy
alembic
asyncpg
psycopg2-binary

# Auth & Sécurité
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
Authlib

# IA
google-generativeai
groq

# Scraping
playwright
lxml
requests
httpx

# Documents
pdfminer.six
python-docx
python-magic

# Scheduler
APScheduler

# Google API
google-api-python-client
google-auth
itsdangerous